* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 6px;
  padding: 0;
  background-color: white;
}

.title {
  margin-bottom: 15px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.contentbox {
  background-color: #c1c1c1;
  border : 1px solid black; 
  width: 100%;
  height: 220px;
  font-family: Helvetica;
  color: black;
  margin: 0px;
  position: relative;
  overflow: hidden;
  margin:0px;
  padding: 2em 5px 1em 5px;
}

.column {
  background-color: white;
  padding: 10px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  padding: 0%;
}

.boxtitle {
  font-family: Helvetica;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
  position: absolute;
  display: block;
  width: 40%;
  text-align: center;
  right: 0px;
  top: 0px;
  margin: 0px;
  border : 1px solid black; 
}

#box1 {
  background-color: #f3d6f4;
  color: black;
}
#box2 {
  background-color: #8e253f;
  color: white;
}
#box3 {
  background-color: #ebf1bb;
  color: black;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
    .col-lg-4 {width:33.33%;}
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
      float: left;
    }
  .col-md-6 {width: 50%;}
  .col-md-12 {width: 100%;}
}

@media (max-width: 767px) {
  .col-sd-1, .col-sd-2, .col-sd-3, .col-sd-4, .col-sd-5, .col-sd-6, .col-sd-7, .col-sd-8, .col-sd-9, .col-sd-10, .col-sd-11, .col-sd-12 {
      float: left;
    }
  .col-sd-12 {width: 100%;}
}